.makemeBig{
    -webkit-animation: myGrowUp 3s infinite; /* Safari 4.0 - 8.0 */
    animation: myGrowUp 3s infinite; 
}
*{
    font-family: sans-serif;
}

ul li{
    list-style-type: decimal;
    color: #402a69;
}
ul{

    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px; 
    overflow-y: scroll;
    overflow-x: hidden;

}
/* Standard syntax */ 
@keyframes myGrowUp {
    0% { margin-left: -60px;
        font-size: 1rem;}
    25% {
        margin-left: -20px;
        font-size: 1.2rem;
        letter-spacing: 2px;

    }
    50% {margin-left: 10px;
        letter-spacing: 4px;
        font-size: 1.7rem;}
    100% {margin-left: 25px;
        letter-spacing: 0px;
        font-size: 2rem;}

}
@-webkit-keyframes myGrowUp {
    0% { margin-left: -60px;
        font-size: 1rem;}
    25% {
        margin-left: -20px;
        font-size: 1.2rem;
        letter-spacing: 2px;

    }
    50% {margin-left: 10px;
        letter-spacing: 4px;
        font-size: 1.7rem;}
    100% {margin-left: 25px;
        letter-spacing: 0px;
        font-size: 2rem;}

}